//Animacion para rotar 360 grados
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

//Animacion que mueve de izquierda a derecha
@keyframes slideIn {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(0%); }
}

//Animacion para aparecer
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }